.bg-custom {
    background-color: #252525;
  }  

.footer {
    margin-top: 80px;
}

.custom-footer-bg {
    background-color: #e0e0e0;
}

.card {
    background-color: #252525; /* Dark card background */
    border: none;
  }

.text-light {
    color: #f5f5f5 !important; /* Make text light */
  }

.btn-orange {
    background-color: #fd7e14; /* Bootstrap's orange shade */
    color: white;
    border: none;
  }
.btn-orange:hover {
    background-color: #e67e22; /* Darker orange on hover */
  }
